In [1]:
x = 1
type(x)

int

In [2]:
y = 1.0
type(y)

float

In [3]:
z="CHJ"
type(z)

str

In [4]:
x

1

In [5]:
x="Hello"
x

'Hello'

In [6]:
x = float(input("실수를 입력하세요:"))
print(x)

실수를 입력하세요:3.141562
3.141562

In [7]:
z = float("3.14")
print(z)

3.14

In [9]:
PI = 3.14
r = float(input("반지름의 길이를 입력하세요:"))
volume = (4/3) * PI * (r**3)
print(volume)

반지름의 길이를 입력하세요:1.5
14.129999999999999

In [10]:
name = 'Py''thon'
print(name)

Python

In [11]:
name = 'Py' + 'thon'
print(name)

Python

In [12]:
name = 'doesn\'t'
print(name)

doesn't

In [15]:
test = "이름이 뭐야?\n안 가르쳐줘"
print(test)

이름이 뭐야?
안 가르쳐줘

In [16]:
test = "이름이 뭐야?\t나 최현집!"
print(test)

이름이 뭐야?	나 최현집!

In [17]:
y = "최현집" + str(26)
print(y)

최현집26

In [19]:
price = 10000
item_num = 2
print("상품의 가격은 %s입니다." %price)
print("%s개 물건의 가격은 %s입니다." %(item_num , price))

상품의 가격은 10000입니다.
2개 물건의 가격은 10000입니다.

In [20]:
x = 'Python'
print(x[0])

P

In [21]:
print(x[-1])

n

In [22]:
print(x[-3])

h

In [24]:
X = [3, 2, 1]
print(X)

[3, 2, 1]

In [25]:
X[1] = 5
print(X)

[3, 5, 1]

In [26]:
print(len(X))

3

In [30]:
X = [3,5,1]
temp = X[0]
X[0] = X[1]
X[1] = temp
print(X)

[5, 3, 1]

In [39]:
Y = ["a" , "b" , "c"]
print(Y)

['a', 'b', 'c']

In [42]:
Y[1] = 1
print(Y)

['a', 1, 'c']

In [43]:
Z = Y[1]*5
print(Z)

5

In [36]:
T = [1, 1.5, "LKJ"]
print(T)

[1, 1.5, 'LKJ']

In [37]:
print(PI)

3.14

In [38]:
print(T)

[1, 1.5, 'LKJ']

In [44]:
type(T)

list

In [45]:
score = 80
if score >= 60 : 
    print("축하해요. 합격입니다.")
else : 
    print("ㅠㅠㅠㅠㅠ")

축하해요. 합격입니다.

In [47]:
number = int(input("정수를 입력하세요:"))
modulus = number % 2
if modulus < 1 :
    print("입력하신 수는 짝수입니다.")
else : 
    print("입력하신 수는 홀수입니다.")

정수를 입력하세요:5
입력하신 수는 홀수입니다.

In [48]:
print(score <= 60)

False

In [50]:
True
False
print(score >= 60)

True

In [51]:
True * 5

5

In [52]:
if score >= 80 :
    print("아싸~~~")
    print('난 합격ㅋㅋㅋ')
else :
    print("ㅠㅠㅠ")
    print("엄마한테 죽었다 ㅠㅠ")

아싸~~~
난 합격ㅋㅋㅋ

In [53]:
x = int(input("첫 번째 정수: "))
y = int(input("두 번째 정수: "))
if(x > y):
    max = x
else:
    max = y
print("큰 수는" , max)

첫 번째 정수: 10
두 번째 정수: 20
큰 수는 20

In [55]:
str = input("문자열을 입력하시오:")
length = len(str)
if length%2 == 1 : 
    ch1 = str[length//2]
    print("중앙글자는" , ch1)
else :
    ch1 = str[length//2-1]
    ch2 = str[length//2]
print("중앙글자는" , ch1 , ch2)

문자열을 입력하시오:abcde
중앙글자는 c

NameError: name 'ch2' is not defined