# Code up pyhton 기초 100제

In [ ]:
s = input()


print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

In [ ]:
#data = [[1,2,3],[4,5,6],[7,8,9]]
print(data[2][2])

print(data[2][1])
print(data[2][0])

In [ ]:
#a = input().split(':')

#print(a[1])

In [ ]:
a, b = input().split(' ')

print(a+b)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)
c = a+b
print(c)

In [ ]:
a = input()
b = input()
a = float(a)
b = float(b)
c = a+b
print(c)

In [ ]:
#16 진수 형태로 출력

a = input()
n = int(a)
print('%x'% n)

In [ ]:
a = input()
n = int(a)
print('%X'% n)

In [ ]:
a = input()
n = int(a, 16)
print('%o'% n)

In [ ]:
a = ord(input())
print(a)

In [ ]:
n = int(input())
print(chr(n))

In [ ]:
a = input()
a = int(a)
print(-a)

In [ ]:
print(chr(65))

In [ ]:
n = ord(input())

print(chr(n+1))

In [ ]:
t = ord(input())

print(t)

In [ ]:
print(chr(65))

In [ ]:
# 입력 : 정수 두개, 출력 차이
a, b = input().split(' ')



a = float(a)
b = float(b)

print(a-b)

In [ ]:
a,b = input().split(' ')

a = float(a)
b = float(b)

print(a*b)

In [ ]:
s, n = input().split(' ')

s = str(s)
n = int(n)

print(s*n)

In [ ]:
n = int(input())
s = str(input())


print(s*n)

In [ ]:
n,j  = input().split(' ')

n = int(n)
j = int(j)

print(n**j)

In [ ]:
n,j  = input().split(' ')

n = float(n)
j = float(j)

print(n**j)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a//b)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)


print(a%b)

In [ ]:
a = input()

a = float(a)

print(format(a,'.2f'))

In [ ]:
a, b = input().split(' ')

a = float(a)
b = float(b)

print(format(a/b,'.3f'))

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(format(a/b,'.3f'))

In [ ]:
a, b, c = input().split(' ')

a = int(a)
b = int(b)
c = int(c)

print(a+b+c,format((a+b+c)/3,'.2f'))

In [ ]:
n = input()
n = int(n)

print(n<<1)

# 비트연산자 오른쪽으로 한단계 밀면 2배가됨, 2진수이기 때문

In [ ]:
a, b = input().split(' ')
a = int(a)
b = int(b)
print(a<<b)

#비트 연산자를 이용해서 1을 입력한다면 2배가 되지만, 상수 b를 입력하면 2**b 배가 된다

In [ ]:
print('A'>'B')

In [ ]:
# 비교연산자

a, b = input().split(' ')

a = int(a)
b = int(b)

print(a<b)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a==b)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a<=b)

In [ ]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a!=b)

In [2]:
#비교 연산은 두개의 변수를 비교, 논리 연산은 bool, boolean -> True, False를 반환한다

# PYTHON 에서는 0은 FALSE ELSE는 TRUE를 반환한다

n = input()

n = int(n) # 자료형을 int 정수형으로 변환시켜야 정확한 n으로 들어간다


print(bool(n))

0
False

In [4]:
# 3가지 함수 중첩 삽입 -> 자료형변경 -> 불린자료형 변경

a = bool(int(input()))

print(a)

44
True

In [5]:
# 3가지 함수 중첩 삽입 -> 자료형변경 -> 불린자료형 변경
# NOT 연산

a = bool(int(input()))

print(not a)

0
True

In [9]:
#두가지 불린 자료형이 모두 TURE인 것을 반환

a, b = input().split(' ')

a = int(a)
b = int(b)

print(bool(a) and bool(b))

1 1
True

In [11]:
#두가지 불린 자료형이 둘중에 하나 TURE인 것을 반환

a, b = input().split(' ')

a = int(a)
b = int(b)

print(bool(a) or bool(b))

5 0
True

In [20]:
# 불값이 다르면 True 같으면 Flase

a, b = input().split(' ')

c = bool(int(a))
d = bool(int(b))

print(c and (not d) )

print(not(c) and d )

1 0
True
False

In [35]:
print( bool(int(0)) ) # FALSE
print( bool(int(1)) ) # TRUE
print(' ')

#print bool 자료형은 true?이니? 라고 생각하는게 직관적이다.

print( bool(int(0)) and bool(int(0)) ) # FALSE and FALSE    모두 TRUE?   F
print( bool(int(1)) and bool(int(1)) ) # TRUE  and TRUE     모두 TRUE?   T
print( bool(int(0)) and bool(int(1)) ) # FALSE and TURE     모두 TRUE?   F
print(' ')

print( bool(int(0)) or  bool(int(0)) ) # FALES or TRUE      한개라도 TRUE? F
print( bool(int(1)) or  bool(int(1)) ) # TRUE or TRUE       한개라도 TRUE? T
print( bool(int(0)) or  bool(int(1)) ) # FALES or TRUE      한개라도 TRUE? T
print(' ')

# not 연산 and
print( bool(int(0)) and not(bool(int(0))) ) # FALSE and not(FALSE)    모두 TRUE?   F
print( not(bool(int(0))) and not(bool(int(0))) ) # not(FALSE) and not(FALSE)    모두 TRUE?   T

# not 연산 or
print( bool(int(0)) or not(bool(int(0))) ) # FALSE and not(FALSE)    한개라도 TRUE?   F
print( not(bool(int(0))) or not(bool(int(0))) ) # not(FALSE) and not(FALSE)    한개라도 TRUE?   T

False
True

False
True
False

False
True
True

False
True
True
True

In [39]:
#하나라도 참인경우 true, 아닌경우 false

a, b = input().split(' ')

a = int(a)
b = int(b)

print(bool(a) or bool(b))

1 1
True

In [45]:
#불변수의 값이 다른경우에만 False 이외는 True (다른경우만 감지하고 싶어!!)
#결국 1 0   or 0 1 을 코드로 구현하면 된다. (두개 같은 값이 들어온다 가정하고)


a, b = input().split(' ')

a = int(a)
b = int(b)

print(   ( bool(a) and not(bool(b)) )       or   ( not(bool(a)) and bool(b) )   ) # or로 봐야함!!
#  한개라도 TRUE 인가?

#위와 같이 하면 0 0 인경우 F T가 됨에도 불구하고 FALSE 가 반환된다. 즉 b 변수가 다른경우에도..

1 1
False

In [4]:
#불변수의 값이 같은 TRUE 이외는 FALSE (다른경우만 감지하고 싶어!!)
#결국 1 1  OR 0 0 을 코드로 구현하면 된다. (두개 같은 값이 들어온다 가정하고)


a, b = input().split(' ')

a = int(a)
b = int(b)


print(   ( bool(a) and bool(b) )  ) # 0 0 의 불린변수는 같음에도 불구하고 두개 다 true냐에서 틀려버림
print( ( not(bool(a)) and  not(bool(b)) )   ) # 0 0 NOT(F) NOT(f) T T 로 두개 다 TRUE냐?

print(   ( bool(a) and bool(b) )   or   ( not(bool(a)) and  not(bool(b)) )   ) # or로 봐야함!!
#  한개라도 TRUE 인가?

#위와 같이 하면 0 0 인경우 F T가 됨에도 불구하고 FALSE 가 반환된다. 즉 b 변수가 다른경우에도..

0 0
False
True
True

# 결국에 코드를 당장 구현하는 것이 중요한게아니라
# 논리를 확실하게 머리로 생각하고 코드를 수정하며 구현

In [9]:
#2개의 정수값이 입력될 때,
#그 불 값(True/False) 이 모두 False 일 때에만 True 를 출력하는 프로그램을 작성해보자.

# 0 0 은 두개다 FALSE NOT(1) NOT(1)


a, b = input().split(' ')

print( (bool(int(a)) and bool(int(b))) )

print( (not(bool(int(a))) and not(bool(int(b)))) )

0 1
False
False

In [11]:
a = int(input())

print(~a)

4
-5

In [12]:
a, b = input().split(' ')

a = int(a)
b = int(b)

print(a&b) # bit and

5 3
1

# ~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor), <<(bitwise left shift), >>(bitwise right shift

In [13]:
# 베타적 논리합 XOR (두개의 색이 다른 원의 교차되지 않은 부분)

a, b = input().split(' ')

a = int(a)
b = int(b)

print(a^b) # bit XOR 그리고 10진수 정수로 출력함

5 3
6

In [1]:
#git hub change test

a = int(input())

print(a+100)

10
110